/* navbar1 */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

nav{
    background-color: rgb(255, 255, 255)no-repeat left center;
    width: 100%;
    height:50px;
    justify-content: space-between;
    display: flex;
    font-family: "Nunito Sans", sans-serif;
}
nav img{
    width: 8vw;
    height:50px;
    margin-left: 30px;
}
.navleft{
    display: flex;
}
.navsearch-container {
    position: relative;
    width: 300px; 
    display: flex;
    width: 50vw;
    margin-left: 10px;
    height: 40px;
    margin-top: 5px;
}

.navsearch-container svg {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
    pointer-events: none; 
    height: 20px;
    
}

.navsearch-container input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px; 
    font-family: "Nunito Sans", sans-serif;
    border: 1px solid grey;
}
.navbut1{
    background-color: white;
    border:none;
    cursor: pointer;
    width: 8vw;
    height:30px;
    margin-top: 10px;
}
.navbut2{
    background-color: rgb(255, 0, 0);
    color: white;
    border:1px solid red;
    border-radius: 10px;
    cursor: pointer;
    width: 6vw;
    height:30px;
    margin-top: 10px;
}
.navright img{
    color: black;
    width:30px;
}
.navright{
    display: flex;
}
.navright2{
    margin-right: 20px;
}
/* navbar2 */
.nav2{
    background-color: aliceblue; 
    display: flex;
    height: 40px;
    font-family: "Nunito Sans", sans-serif;
}
.nav2left span{
    margin-left: 20px;
}
.nav2left{
    margin-top: 10px;
}
.nav2right span{
    margin-right: 20px;
}
.nav2right{
    margin-top: 10px;
}
/* section1 */
.section1 {
    display: flex;
    overflow-y: hidden;
    background-color:aliceblue;
    gap:10px;
    font-family: "Nunito Sans", sans-serif;
  }
  .section1 div {
    min-width: 100%;
    height: 40vh;
    background-color: aquamarine;
    object-fit: scale-down;
  }
  .section1 img {
    width: 100%;
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgb(201, 197, 197);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(87, 84, 84);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(46, 41, 41);
  }
  /* section2 */
  .section2{
    display: flex;
    justify-content: space-between;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 40px;
}
.sec2left{
    background-color: rgb(255, 255, 255);
    height:30px;
    margin-left: 30px;
    color: rgb(57, 56, 56);
    font-size: 20px;
}
.sec2right{
    background-color: rgb(255, 255, 255);
    height:30px;
    margin-right: 30px;
    color: red;
    
}
.section2c{
    display: flex;
    /* background-color: aqua; */
    width: 100%;
    height:60vh;
    /* flex-wrap: wrap; */
    margin-top: 20px;
    font-family: "Nunito Sans", sans-serif;
}
.sec2divc{
    width:17%;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
}
.sec2img{
    width: 100%;
    height:80%;
    background-color: azure;
}
.sec2img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}
.sec2name{
    width: 100%;
    height:7%;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom-left-radius:5% ;
    border-bottom-right-radius:5% ;
}
.sec2dis{
    background-color: white;
    color: rgb(57, 57, 57);
    margin-top: 10px;
}

.container4{
    /* background-color: #ff4081; */
    max-width: 80%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 120px; 
    margin-top: 70px;
}

.head_er img{
    width: 100%;
    max-height: 100px;
    object-fit: cover;
}
.head_er{
    /* background-color:rgb(141, 60, 60); */
    width: 100%;
    max-height: 100px;
    border-radius: 50%;
    position: relative;
}
.banner{
    background: none;
    width: 100%;
    max-height: 100px;
    display: flex;
    position: absolute;
    top: 0;
    gap: 50px;
    justify-content: center;
}
.banner img{
    width: 20%;
    height: auto;
    background: none;
    margin-left: 30px;
}
.banner p{
    color: yellow;
    font-size: xx-large;
}
.sec32{
    background-color: rgb(255, 255, 255);
    width:95%;
    height:15vh;
    margin-left:30px;
}
.sec32 span{
    position: absolute;
    top: 160vh;
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
}
.sec33{
    height: 30vh;
    width: 95%;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    gap:42px
}
.sec33c{
    width:17%;
    background-color: bisque;
    height: 100%;
    border-radius: 5px;
}
.sec33c img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* section4 */
.section4 {
    width: 100%;
    height: auto;
    background-color: rgb(26, 46, 61);
    margin-top: 40px;
    font-family: "Nunito Sans", sans-serif;
  }

  .sec41 img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .sec41 {
    display: flex;
    background-color: rgb(26, 46, 61);
  }
  .sec41head2 {
    margin-top: 5px;
  }
  ul {
    list-style-type: none;
    padding: 2px;
    color: white;
  }
  .sec4li1 {
    font-size: 20px;
  }
  .sec42 {
    background-color: rgb(26, 46, 61);
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: white;
  }
  .sec42right {
    margin-top: 40px;
  }
  .sec43 {
    height: 60vh;
    background-color: rgb(26, 46, 61);
    width: 95%;
    gap: 12px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .sec43c {
    width: 19%;
    height: 100%;
    background-color: rgb(26, 46, 61);
  }
  .sec43img {
    width: 100%;
    height: 85%;
    background-color: rgb(26, 46, 61);
  }
  .sec43img img {
    width: 100%;
    height: 100%;
  }
  li {
    list-style-type: none;
    padding: 2px;
    color: white;
  }
  /* footer */
  .footer {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.footer-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h2, 
.footer-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-legal {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer-legal a {
    color: #aaa;
    text-decoration: none;
    margin: 0 20px;
}

.footer-legal a:hover {
    text-decoration: underline;
}

.footer-copyright {
    margin-top: 10px;
    color:#aaa;
}
/* @media  (max-width:867px){
.sec33c{
    min-width:45%;
    max-width:45%;
}
.sec31{
    margin-top: 23vh;
}
.sec31 p{
    margin-top: 10vh;
}
.sec31 span{
    margin-top: 9vh;
}
}
@media(min-width:868px) and (max-width:1000px){
.sec31{
    margin-top: 35vh;
}
.sec31 p{
    margin-top: 23vh;
}
.sec31 span{
    margin-top: 21vh;
}
.sec32 span{
    margin-top:20vh;
}
}
@media(min-width:1018px) and (max-width:1100px){
    .sec31{
        margin-top: 35vh;
    }
    .sec31 p{
        margin-top: 23vh;
    }
    .sec31 span{
        margin-top: 21vh;
    }
    .sec32 span{
        margin-top:20vh;
    }
    } */